<% layout('/shared/login_page.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <p class="form-title">
          Reset Password</p>
        <form class="login" action="/reset_password" method="post">
          <input type="email" name="email" placeholder="Email"/>
          <input type="submit" value="Remember me" class="btn btn-success btn-sm" />
          <div class="remember-forgot">
            <div class="row">
              <div class="col-md-12">
                <div style="text-align: center;"> <a href="/">Log in</a> </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
